/* Universal Styles */

* {
	box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
	color: #3d3c3c;
  background-color: #fff;
}

.container {
	max-width: 1120px;
  margin: auto;
	border: 1px solid black;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

h1 {
  font-size: 2.15rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

/* h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4rem;
} */

h4 {
  font-size: 1.2rem;
	/* line-height: 1.2rem; */
	line-height: 1.7rem;
  font-weight: 600;
}

p {
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.2rem;
}

span {
  font-size: .75rem;
  line-height: .95rem;
}


/* Header and Nav Styles */

header {
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
}

.logo img {
	height: 2.4rem;
  padding-left: 24px;
}

.colmar {
  font-size: 1.2rem;
  font-weight: 700;
}

.academy {
  font-size: 1.2rem;
  font-weight: 400;
  color: gray;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.desktop a {
  display: inline-block;
  padding-right: 16px;
	color: #3d3c3c;
  font-size: 1rem;
  /* cursor: default; */
  text-decoration: none;
}

.desktop a:hover {
  color: #878787;
	/* background-color: blue;
	border-radius: 4px;
	padding: 0.3rem; */
}

.desktop a:active {
  color: #878787;
	text-decoration: underline;
}

nav.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  nav.desktop {
    display: none;
  }

  .logo {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
  }
}


/* Main Banner Section */

.main-banner {
  background-color: #d9dbdd;
  margin: 0 auto;
	max-width: 1120px;
}

.main-banner .container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 60%;
  padding: 32px 24px;
}

.left-section img {
  width: 100%;
}

.right-section {
  /* width: 440px; */
	width: 40%;
}

.slogan {
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
	padding-left: 1.2rem;
	padding-bottom: 4rem;
  margin-top: 6rem;
	margin-right: 3.3rem;
}

.slogan h4 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.slogan a {
	background-color: #3d3c3c;
  color: #fff;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
  text-decoration: none;
	border-radius: 4px;
	margin-right: 2rem;
}

.slogan a:hover {
  background-color: #878787;
}

.slogan a:active {
  background-color: #878787;
}

@media only screen and (max-width: 800px) {
  .main-banner .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .main-banner .left-section {
    width: 100%;
    padding: 0 0;
  }

  .right-section {
    width: 100%;
  }

  .slogan {
    margin: 32px 24px;
    padding-left: 0px;
    align-items: center;
  }

  .slogan a {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
	.slogan {
		padding-bottom: 0;
	}
	.slogan h1 {
		line-height: 2.4rem;
	}
	.slogan a {
    width: 90%;
    background-color: #878787;
  }
  .slogan a:hover {
    opacity: .8;
  }
  .slogan a:active {
    opacity: .8;
  }
}


/* Practice and Info Styles */

.practice {
  display: flex;
  justify-content: space-between;
}

.left-section h2 {
  padding-top: 32px;
}

.left-section p {
  padding: 24px 24px 24px 0px;
}

.content {
	/* padding: 16px 12px 16px 2px; */
	padding-right: 0.8rem;
  width: 100%;
}

.content p {
  padding-top: 8px;
}

.content a {
  color: #4ba3f4;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding-top: .9rem;
}

.content a:hover {
  color: #9dcdf9;
  text-decoration: underline;
}

.content a:active {
  color: #9dcdf9;
  text-decoration: underline;
}

.practice .right-section {
  padding: 16px 0px 32px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.box {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box img.desktop {
	max-width: 100%;
	height: auto;
	width: 35%;
  padding: 16px;
}

.box img.mobile {
  display: none;
}

.second-info {
  /* border-top: 1px solid #000;
  border-bottom: 1px solid #000; */
}

.spotlight {
  background-color: #d9dbdd;
}

@media only screen and (max-width: 480px) {
  .practice .left-section {
    display: none;
  }

  .practice .right-section {
    border-left: 0px;
    padding: 16px 16px 32px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .spotlight {
    background-color: #fff;
  }

  .second-info {
    border-top: 0px;
    border-bottom: 0px;
    margin: 16px 0px;
  }

  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .box img.desktop {
    display: none;
  }

  .box img.mobile {
    display: flex;
    width: 100%;
  }

  .content {
    padding: 0px;
    width: 100%;
    margin-top: 16px;
  }
}

/* Start Learning and Courses Styles */

.learning {
	background-color: #d9dbdd;
  /* padding-bottom: 32px; */
}

.container.learning {
	/* padding-left: 72px;
	padding-right: 72px; */
}

.headline {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}


.courses-grid-container {
	display: flex;
	justify-content: center;
	/* padding-left: 72px;
	padding-right: 72px; */
}

.courses-grid {
	/* width: 1120px; */
	width: 100%;
	display: flex;
	/* justify-content: center; */
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding-left: 72px;
	padding-right: 72px;
}

.courses-mobile {
  display: none;
}

.course {
	background-color: #fff;
	width: 16.85rem;
	min-height: 17.5rem;
  margin-bottom: 32px;
}


.course img {
  width: 100%;
	height: auto;
}

.course h4 {
  padding-bottom: 0.5rem;
}

.course p {
	padding-top: 0.5rem;
}

.course-content {
  padding: 16px 16px 24px 16px;
}

.course-content span {
  font-size: 0.9rem;
  color: gray;
}

@media only screen and (max-width: 480px) {
  .learning {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    background-color: white;
  }

  .learning .container {
    margin: 0 auto;
    width: 100%;
  }

  .courses-grid {
    display: none;
  }

  .courses-mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }

.courses-mobile a {
    background-color: #DCDCDC;
	  color: #3d3c3c;
    text-decoration: none;
    padding: 16px;
    margin-bottom: 8px;
    font-size: 1.4rem;
  }

  .courses-mobile a:hover {
      background-color: #F5F5F5;
    }

  .courses-mobile a:active {
      background-color: #F5F5F5;
    }
}


/* Thesis Showcase Styles */

.flex {
  display: flex;
  justify-content: space-between;
}

.left-section video {
  width: 100%;
  object-fit: contain;
}

.thesis p {
  padding-top: 8px;
  padding-bottom: 0px;
}

.thesis h4 {
  padding-top: 24px;
}

.thesis .box img {
  width: 35%;
  padding: 16px;
}

.thesis .first-info {
  margin-top: 32px;
}

@media only screen and (max-width: 480px) {
  .flex .right-section {
    display: none;
  }

  .flex .left-section {
    width: 100%;
    padding: 0px;
  }


  .flex .left-section p {
    display: none;
  }

  .flex .left-section h6 {
    display: none;
  }
}

/* Footer Styles */

footer {
  border-top: 1px solid #DCDCDC;
  background-color: white;
  height: 3.5rem;
}

footer p {
  padding-left: 24px;
  padding-right: 24px;
  /* color: #383838; */
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .75rem;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.footer-nav a {
  display: inline-block;
  padding-right: 16px;
	color: #3d3c3c;
  font-size: .75rem;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #878787;
	text-decoration: underline;
}

.footer-nav a:active {
  color: #878787;
}

@media only screen and (max-width: 480px) {
  footer {
    border-top: 0px;
  }

  footer .container {
    margin-top: 24px;
  }

  footer .footer-nav {
    display: none;
  }

  footer p {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
