/* Universal Styles */

* {
	box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
	color: #3d3c3c;
  background-color: #486891;
	margin: 0 auto;
	max-width: 1120px;
}

section {
	background-color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.headline {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 32px;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
	line-height: 1.7rem;
  font-weight: 600;
}

p {
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.2rem;
}

span {
  font-size: .75rem;
}

nav {
  text-align: right;
  flex-grow: 1;
}

/* Header and Nav Styles */

header {
  background-color: #fff;
}

header .container {
	display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
	height: 2.4rem;
  padding-left: 24px;
}

.colmar {
  font-size: 1.2rem;
  font-weight: 700;
}

.academy {
  font-size: 1.2rem;
  font-weight: 400;
  color: #696969;
}

.desktop ul {
	margin-right: 8px;
}

.desktop li {
	list-style: none;
	display: inline;
}

.desktop a {
  display: inline-block;
  padding-right: 16px;
	color: #3d3c3c;
  font-size: 1rem;
  text-decoration: none;
}

.desktop a:hover {
  color: #a2aec4;
	text-decoration: underline;
}

.desktop a:active {
  color: #a2aec4;
	text-decoration: underline;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 700px) {
  nav.desktop {
    display: none;
  }
  .logo {
    display: none;
  }
  nav.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
  }
	.mobile a:hover {
		background-color: #a2aec4;
		padding: 4px 2px 4px 4px;
		border-radius: 3px;
	}
}

/* Main Banner Section */

.main-banner {
  background-color: #d9dbdd;
  margin: 0 auto;
	max-width: 1120px;
}

.main-banner .container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 60%;
  padding: 32px 24px;
}

.left-section img {
  width: 100%;
}

.right-section {
	width: 40%;
	padding-top: 32px;
}

.right-section.flex {
	flex-direction: column;
	justify-content: center;
}

.slogan {
  height: auto;
  display: flex;
  flex-direction: column;
	padding-bottom: 3.3rem;
	margin-right: 3.3rem;
}

.slogan h3 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.slogan a {
	background-color: #3d3c3c;
  color: #fff;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
  text-decoration: none;
	margin-right: 2rem;
	width: 90%;
}

.slogan a:hover {
  background-color: #a2aec4;
}

.slogan a:active {
  background-color: #a2aec4;
}

@media only screen and (max-width: 800px) {
  .main-banner .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .main-banner .left-section {
    width: 100%;
    padding: 0 0;
  }
  .right-section {
    width: 100%;
  }
  .slogan {
    margin: 32px 24px;
    padding-left: 0px;
    align-items: center;
  }
  .slogan a {
    width: 65%;
  }
}

@media only screen and (max-width: 570px) {
	.slogan {
		padding-bottom: 32px;
		padding-left: 16px;
		margin: auto;
	}
	.slogan h1 {
		line-height: 2.4rem;
	}
	.slogan a {
    width: 90%;
    background-color: #878787;
  }
  .slogan a:hover {
    opacity: .8;
  }
  .slogan a:active {
    opacity: .8;
  }
}

/* Practice and Info Styles */

.practice {
  display: flex;
  justify-content: space-between;
}

.left-section h2 {
  padding-top: 32px;
	padding-bottom: 24px;
}

.left-section p {
	padding-right: .5rem;
	padding-bottom: 1rem;
}

.content {
	padding-right: 3rem;
  width: 100%;
}

.content p {
  padding-top: 8px;
}

.content a {
  color: #4ba3f4;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding-top: .9rem;
}

.content a:hover {
  color: #9dcdf9;
  text-decoration: underline;
}

.content a:active {
  color: #9dcdf9;
  text-decoration: underline;
}

.practice .right-section {
  padding: 16px 0px 32px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.box {
  display: flex;
  align-items: center;
}

.box img.desktop {
	max-width: 100%;
	height: auto;
	width: 35%;
  padding: 16px;
}

.box img.mobile {
  display: none;
}

.box p {
	font-size: 0.8rem;
}

.spotlight {
  background-color: #d9dbdd;
}

.spotlight.box {
	margin-right: .5rem;
}

@media only screen and (max-width: 600px) {
  .practice .left-section {
    display: none;
  }
  .practice .right-section {
    border-left: 0px;
    padding: 16px 16px 0px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .spotlight {
    background-color: #fff;
  }
  .second-info {
    border-top: 0px;
    border-bottom: 0px;
    margin: 16px 0px;
  }
  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
		padding-bottom: 32px;
  }
  .box img.desktop {
    display: none;
  }
  .box img.mobile {
    display: flex;
    width: 100%;
  }
  .content {
    width: 100%;
		padding-left: 16px;
    margin-top: 16px;
  }
}

/* Start Learning and Courses Styles */

.learning {
	background-color: #d9dbdd;
}

.courses-grid-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.courses-grid {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 32px 72px 0 72px;
}

.courses-mobile {
  display: none;
}

.course {
	background-color: #fff;
	width: 16.85rem;
	min-height: 17.5rem;
  margin-bottom: 32px;
}

.course img {
  width: 100%;
	height: auto;
}

.course h3 {
  padding-bottom: 0.5rem;
}

.course p {
	padding-top: 0.5rem;
	color: #696969;
}

.course-content {
  padding: 16px 16px 24px 16px;
}

.course-content a {
  text-decoration: none;
  color: #3d3c3c;
}

.course-content a:hover {
  color: #a2aec4;
}

.course-content a:active {
  color: #a2aec4;
}

.course-content span {
  font-size: 0.9rem;
  color: #696969;
}

@media only screen and (max-width: 600px) {
  .learning {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
  }
  .learning .container {
    margin: 0 auto;
    width: 100%;
  }
	.learning .headline {
		margin-bottom: 16px;
	}
  .courses-grid {
    display: none;
  }
  .courses-mobile {
		display: flex;
    flex-direction: column;
		width: 90%;
  }
	.mobile-subject {
		display: flex;
		background-color: #e2e2e2;
		margin-bottom: 8px;
	}
	.mobile-subject.last-subject {
		margin-bottom: 0;
	}
	.courses-mobile a {
		width: 100%;
		color: #3d3c3c;
    text-decoration: none;
    padding: 16px 0 24px 16px;
    font-size: 1.3rem;
		font-weight: 600;
  }
  .mobile-subject a:hover {
      background-color: #a2aec4;
    }
  .courses-mobile a:active {
      background-color: #a2aec4;
    }
}

/* Thesis Showcase Styles */

.left-section video {
  width: 100%;
	padding-bottom: 24px;
}

.thesis p {
  padding-top: 8px;
  padding-bottom: 0px;
}

.thesis .box img {
  width: 35%;
  padding: 16px;
}

@media only screen and (max-width: 800px) {
	.thesis .headline {
		padding-bottom: 16px;
	}
	.flex .right-section {
    display: none;
  }
  .flex .left-section {
    width: 100%;
    padding: 0px;
  }
	.flex .left-section h3 {
		display: none;
	}
  .flex .left-section p {
    display: none;
  }
	.left-section video {
		padding-bottom: 0;
	}
}


/* Footer Styles */

footer {
  border-top: 1px solid #e2e2e2;
  background-color: white;
  height: 3.5rem;
}

footer p {
  padding-left: 24px;
  padding-right: 24px;
	font-size: .75rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.footer-nav a {
  display: inline-block;
  padding-right: 16px;
	color: #3d3c3c;
  font-size: .75rem;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #878787;
	text-decoration: underline;
}

.footer-nav a:active {
  color: #878787;
}

@media only screen and (max-width: 480px) {
  footer .container {
    margin-top: 0;
  }

  footer .footer-nav {
    display: none;
  }

  footer p {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
